[Unit]
Description=storm-supervisor
After=docker.service
Requires=docker.service

[Service]
EnvironmentFile=-/etc/environment
ExecStartPre=-/usr/bin/docker kill %p-%i
ExecStartPre=-/usr/bin/docker rm %p-%i
ExecStartPre=/usr/bin/docker pull endocode/%p:0.9.2
ExecStartPre=/usr/bin/bash -c "while [[ ! $$(/usr/bin/etcdctl get /storm-nimbus) ]]; do echo 'Waiting for Storm Nimbus node'; sleep 1; done; echo 'Storm Nimbus node is UP'; /usr/bin/etcdctl get /storm-nimbus"
ExecStart=/usr/bin/bash -c "HOST_NAME=$${COREOS_PUBLIC_IPV4:-$$(hostname -i)} && NIMBUS_HOST=$(/usr/bin/etcdctl get /storm-nimbus | /usr/bin/tr -d '\n') && ZK=$(fleetctl list-machines -no-legend=true -fields=ip | tr '\n' ',') && exec /usr/bin/docker run --rm --name %p-%i -e HOST_NAME=$HOST_NAME -e NIMBUS_HOST=$NIMBUS_HOST -e ZK=$ZK --publish 6700:6700 --publish 6701:6701 --publish 6702:6702 --publish 6703:6703 --publish 8000:8000 endocode/%p:0.9.2"
ExecStop=/usr/bin/docker stop %p-%i
TimeoutStartSec=900s

[X-Fleet]
Conflicts=%p@*.service
